* {
    margin: 0 ;
    padding: 0 ;
    text-align: center;
}

h1 {
    margin-top: 0rem;
    background-color: cadetblue;
    font-size: 6rem;
    height: 8rem;
    line-height: 5rem;
    padding: 1;
}

.choice {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: rgb(39, 54, 54);
}

img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    align-items: center;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
}

#user-score, #system-score {
    font-size: 3rem;
}

#msg {
    background-color: darkslategrey;
    font-size: 4rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
    color: white;
}

#username,#submit {
    margin-top: 3rem;
    font-size: 2rem;
}

#thankingMsg {
    background-color: rgb(11, 87, 87);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    /* margin-top: 7rem; */
    color: white;
}